{% extends('layouts/auth_default') %}

{% block title %}Ladies Forum - Update{% endblock %}

{% block content %}

<h2>Edit Post</h2>

<form action="/posts/update/{{ post.id }}" method="post" enctype= "multipart/form-data">
  {{ csrf_field() }}
  <p>
    <input type="hidden" name="id" placeholder="number" value="{{ post.id }}">
    <input name="name" placeholder="Your name" type="text" value="{{ old('name', post.name) }}" />
  </p>

  <p>
    <textarea name="body" placeholder="Enter comments">{{ old('body', post.body) }}</textarea>
    {% if errors.first('body') %}
      <span class="error">{{ errors.first('body') }}</span>
    {% endif %}
  </p>

  <p>
    {% for image in images %}
      {% if post.id == image.post_id %}
        <img src="{{ base_path ~ directory }}/storage/prod/{{ image.session_id }}/{{ image.image }}" width="400" height="200">
        <a class="del" href="/posts/del/image/{{ image.id }}">[x]</a>
        <br><br>
       {% endif %}
    {% endfor %}
  </p>
    <input type="submit" value="Update">
</form>
{% endblock %}
