{% extends('layouts/auth_default') %}

{% block title %}Ladies Forum{% endblock %}

{% block content %}

<div class="col-sm-20" style="text-align:right;">
<form action="/posts/search" method="get" class="form-inline">
  <input type="text" name="keyword" placeholder="Keyword">
  <input type="submit" value="Search" class="btn btn-info">
</form>
</div>

<div class="col-sm-8" style="text-align:left;">
<form action = "/posts"  method ="post" enctype= "multipart/form-data">
  {{ csrf_field() }}
  <p>
    <input type="text" name="name" placeholder="Your name" value= "{{ old('name') }}">
    {% if errors.first('name') %}
      <span class="error">{{ errors.first('name') }}</span>
    {% endif %}
  </p>

  <p>
    <textarea name="body" placeholder="Enter comments">{{ old('body') }}</textarea>
    {% if errors.first('body') %}
      <span class="error">{{ errors.first('body') }}</span>
    {% endif %}
  </p>

  <p>
    {% for tag in tags %}
      <input type="checkbox" name="tags[]" value="{{ tag.id }}">{{ tag.name }}
    {% endfor %}
    <br>
    {% if errors.first('tags') %}
      <span class="error">{{ errors.first('tags') }}</span>
    {% endif %}
  </p>


  <p>
    <label>Select image to Upload: </label>
    <input type="file" name ="featured_image[]" multiple id="featured_image">
  </p>

  <p>
    <input type="submit" value="Post Comment">
  </p>
</form>
</div>

<div class="col-sm-20" style="text-align:right;">
Sort by:
  <a href="/posts/sort/lastupdated">[Last Updated]</a>
</div>

<nav>
  <ul class="pagination">
    {{ pager_link|raw }}
  </ul>
<nav>

<br><br>

<div class="col-sm-8" style="text-align:left;">
<ul>
  {% for post in posts %}
  <li>
    {{ post.name }} [{{ post.created_at }}]
    <a class="edit" href="/posts/{{ post.id }}">[edit]</a>
    <a class="edit" href="/posts/show/{{ post.id }}">※</a>
    <a href = "#" class="del" data-id = "{{ post.id }}">[x]</a>
      <form action = "/posts/del/{{ post.id }}" method = "post" id = "form_{{ post.id }}">
        {{ csrf_field() }}
      </form>
  </li>
    {% for tag in post.tags %}
      <div class="tag">
       #{{ tag.name }}
       <br>
      </div>
    {% endfor %}
  <hr />
  {% endfor %}
</ul>
</div>

<nav>
  <ul class="pagination">
    {{ pager_link|raw }}
  </ul>
</nav>

{% endblock %}

